name: Build LaTeX document
on: [push]
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v1
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@master
        with:
          root_file: zane_resume.tex
          args: -xelatex -file-line-error -interaction=nonstopmode
          extra_system_packages: ttf-liberation