name: Build LaTeX document
on: [push]
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v1
      - name: Compile LaTeX document
        id: compile_latex
        uses: xu-cheng/latex-action@master
        with:
          root_file: zane_resume.tex
          args: -xelatex -file-line-error -interaction=nonstopmode
          extra_system_packages: ttf-liberation
      - name: Commit PDF
        run: |
          git config --local user.name "action@github.com"
          git config --local user.name "Github Action"
          mv zane_resume.pdf docs/zane_resume.pdf
          git commit -m "Add Changes" -a
      - name: Push Changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      